<html>
 <body>
 <form action="/sighting/<%=oneSighting.index%>?_method=PUT" method="POST">
  <% for (const [key,value] of Object.entries(oneSighting)) {%> <% if (key != "index"){%>
 <label for="<%= key %>"><%= key %></label><br />
 <input type="text" id="<%=key%>" name="<%=key%>" value="<%=value%>" /><br />
 <% } %> <% } %>
 <input type="submit" value="Submit" />
 </form>
 </body>
</html>