<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing</title>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6" style="padding-bottom: 30px;">
            <h1>All UFO Sightings</h1>
            <%let index=data.length %>
            <% for(let i=0; i < index; i +=1) { %>
            <ul>
              <% let date=data[i].DATE%>
              <span><%=date%></span>
              <% let city=data[i].CITY%>
              <span><%=city%></span>
              <% let shape=data[i].SHAPE%>
              <span style="color:turquoise" ><%=shape%> </span>
              <% let url = `/sighting/${i}` %> <% let text = `Sighting ${i}` %>
              <a href="<%=url %>"><%=text %></a>
              <% let delete_id = `delete ${i}` %>
              <input type="submit" value="Delete" <%=id= delete_id %>/>
            </ul>
            <%} %>
          </div>  
        </div>
      </div>
    </div>
  </body>
</html>
