<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing</title>
  </head>
  <body>
    <%- include('navigator_bar') -%>
      <div class="container">
        <div class="row">
          <div class="col-sm-6" style="padding-bottom: 30px;">
            <h1>All UFO Sightings</h1>

            <%let index=data.length %>
            <% for(let i=0; i < index; i +=1) { %>
            <ul>
             <div class="container">
                <div class="row">
                  <div class="col-sm-3">
              <% let url = `/sighting/${i}` %> <% let text = `Sighting ${i}` %>
              <a href="<%=url %>"><%=text %></a>
                  </div> 
                  <div class="col-sm-3">
              <% let date=data[i].DATE%>
              <span><%=date%></span>
                  </div> 
                  <div class="col-sm-3">
              <% let city=data[i].CITY.toUpperCase()%>
              <span  style="color:rgb(50, 190, 176)" ><%=city%></span>
                   </div> 
                   <div class="col-sm-2">
              <% let shape=data[i].SHAPE.toUpperCase()%>
              <span style="color:rgb(21, 136, 124)" ><%=shape%> </span>
                  </div> 
                  <div class="col-sm-1">
              <% let delete_id = `delete ${i}` %>
              <input type="submit" value="Delete" <%=id= delete_id %>/>
                   </div> 
            </ul>
            <% } %>
          </div>  
        </div>
      </div>
  </body>
</html>
