<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Shape Sightings</title>
<!-- </head>
<body> -->
    <%- include('navigator_bar') -%>
    <div class="container">
      <h1>All UFO Sightings for Shape of</h1> 

      <% let processedShape = String(sightingsMatchingShape[0].SHAPE).replace(/ /g, "_").toUpperCase()%>
      <h1 class="text-info"><%=processedShape%></h1>  


        <div class="container">
          <div class="d-flex flex-row-reverse">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <form action="/shape-detail" method="GET">
                  <input type="hidden" name="shape" value=<%=processedShape%> /> 
                  <input type="hidden" name="sort" value="desc" /> 
                  <input type="submit" value="Latest" class="btn btn-dark"/>
                </form>  
                <form action="/shape-detail" method="GET">
                  <input type="hidden" name="shape" value=<%=processedShape%> /> 
                  <input type="hidden" name="sort" value="asc" /> 
                  <input type="submit" value="Earliest" class="btn btn-dark"/>
                </form>  
             </div>    
          </div>
        </div> 

    <% for (let i=0; i< sightingsMatchingShape.length; i+=1) { %>
      <div class="container">
         <div class="shadow p-3 mb-5 bg-white rounded">
        <%for (const [key, value] of Object.entries(sightingsMatchingShape[i])) {%>
        
          <ul><h6><%=key%></h6>
              <p class="text-muted"><%=value%></p>
          </ul>
        <%}%>
       </div>
      </div>
    <%}%>
    </div> 
</body>
</html>