<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  -->
    <title>Sighting Single</title>
  <!-- </head>
  <body> -->
    <%- include('navigator_bar') -%>
    <!-- <%const text= "Index Page" %>
    <a href="<%="/"%>"><%=text %></a> -->
      <div class="container"> 
        <h1>Details of Sighting</h1>
        <div class="shadow p-3 mb-5 bg-white rounded">
        <%for (const [key, value] of Object.entries(details)) {%>
      
            <ul><h6><%=key%></h6>
              <p class="text-muted"><%=value%></p>
            </ul>
      
        <%}%>
        </div>
      </div>
          <div>
          <!-- <%="Just the year " + details.YEAR%> -->
          <!-- <%="Just the year " %><%=details.YEAR%> -->
          </div>
  </body>
</html>
